In [54]:
# Import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [60]:
r = requests.get('https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051_indicators.txt')
page_body = r.text
page_body[:800]
json_data = r.json()
print(type(json_data))
i = 0
for key, value in json_data.items():
    i = i +1
    #print(str(key) + " -> " + str(value))
    print(str(key))
    if i > 15:
        break
#print(json_data['columns'])

cols = ['QSrank', 'region', 'country']

df = pd.DataFrame(columns=cols)



for uni in json_data['data'][:200]:
    soup = BeautifulSoup(uni['uni'], 'html.parser')
    name = soup.a.string
    country = uni['location']
    region = uni['region']
    rank = uni['overall_rank']
    df.loc[name] = [rank, region, country]




'''test_uni = json_data['data'][0]
soup = BeautifulSoup(test_uni['uni'], 'html.parser')
name = soup.a.string
country = test_uni['location']
region = test_uni['region']
rank = test_uni['overall_rank']'''
#print(name + "\n" + rank + "\n" + country + "\n" + region)
#print(test_uni)
#print(type(json_data['data'][0]))
#print(len(json_data['data']))
#print(json_data['data'][21])

df.tail()

<class 'dict'>
columns
data

,QSrank,region,country
Technische Universität Dresden,281,Europe,Germany
Texas A&M University,195,North America,United States
Universitat Autònoma de Barcelona,195,Europe,Spain
Instituto Tecnológico y de Estudios Superiores de Monterrey,199,Latin America,Mexico
Maastricht University,200,Europe,Netherlands

In [4]:
page_body = r.text
soup = BeautifulSoup(page_body,'html.parser')

In [9]:
rows = soup.find_all('tr', class_='odd')
for row in rows:
    print('yo')
    print(row.text)
    uni_name = p.find('a').text
    print(uni_name)