In [54]:
# Import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [159]:
def get_details(link):
    link = link + '#wurs'
    r = requests.get(link)
    page_body = r.text

    soup = BeautifulSoup(page_body, 'html.parser')
    
    # will contain total_academic_fac_staff, inter_academic_fac_staff, total_students, inter_students
    results = []
    for name in ['total faculty', 'inter faculty', 'total student', 'total inter']:
        try:
            elem = int(soup.find('div', class_= name).find('div', class_='number').text.replace(',',''))
        except AttributeError:
            elem = None
        results.append(elem)
    return results

In [ ]:
'''r = requests.get('https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051_indicators.txt')
page_body = r.text
json_data = r.json()
#print(type(json_data))
i = 0
for key, value in json_data.items():
    i = i +1
    #print(str(key) + " -> " + str(value))
    print(str(key))
    if i > 15:
        break'''
#print(json_data['columns'])

cols = ['QSrank', 'region', 'country', 'Faculty members (total)', 'Faculty members (inter.)', 'Students (total)', 'Students (inter.)']

df = pd.DataFrame(columns=cols)



for i, uni in enumerate(json_data['data'][:200]):
    soup = BeautifulSoup(uni['uni'], 'html.parser')
    details_link = 'https://www.topuniversities.com' + soup.a['href']
    name = soup.a.string
    country = uni['location']
    region = uni['region']
    rank = uni['overall_rank'] 
    details = get_details(details_link)
    # we saw that for some reason the uni ranked 281 appeared in the top-200.
    # this check avoids having it in our ranking
    if int(rank) <= 200:
        df.loc[name] = ([rank, region, country] + details)
    print("Progression: " + '{0:.1f}'.format(100*i/200.0) + "%", end="\r")




'''test_uni = json_data['data'][0]
soup = BeautifulSoup(test_uni['uni'], 'html.parser')
name = soup.a.string
country = test_uni['location']
region = test_uni['region']
rank = test_uni['overall_rank']'''
#print(name + "\n" + rank + "\n" + country + "\n" + region)
#print(test_uni)
#print(type(json_data['data'][0]))
#print(len(json_data['data']))
#print(json_data['data'][21])

df.head()

In [158]:
#df[pd.isnull(df['Faculty members (total)'])]
df.head(200)

,QSrank,region,country,Faculty members (total),Faculty members (inter.),Students (total),Students (inter.)
Massachusetts Institute of Technology (MIT),1,North America,United States,2982,2982,2982,2982
Stanford University,2,North America,United States,4285,4285,4285,4285
Harvard University,3,North America,United States,4350,4350,4350,4350
California Institute of Technology (Caltech),4,North America,United States,953,953,953,953
University of Cambridge,5,Europe,United Kingdom,5490,5490,5490,5490
University of Oxford,6,Europe,United Kingdom,6750,6750,6750,6750
UCL (University College London),7,Europe,United Kingdom,6345,6345,6345,6345
Imperial College London,8,Europe,United Kingdom,3930,3930,3930,3930
University of Chicago,9,North America,United States,2449,2449,2449,2449
ETH Zurich - Swiss Federal Institute of Technology,10,Europe,Switzerland,2477,2477,2477,2477
"Nanyang Technological University, Singapore (NTU)",11,Asia,Singapore,4338,4338,4338,4338
Ecole Polytechnique Fédérale de Lausanne (EPFL),12,Europe,Switzerland,1695,1695,1695,1695
Princeton University,13,North America,United States,1007,1007,1007,1007
Cornell University,14,North America,United States,2718,2718,2718,2718
National University of Singapore (NUS),15,Asia,Singapore,5106,5106,5106,5106
Yale University,16,North America,United States,4940,4940,4940,4940
Johns Hopkins University,17,North America,United States,4462,4462,4462,4462
Columbia University,18,North America,United States,6189,6189,6189,6189
University of Pennsylvania,19,North America,United States,5499,5499,5499,5499
The Australian National University,20,Oceania,Australia,1600,1600,1600,1600
Duke University,21,North America,United States,2938,2938,2938,2938
University of Michigan,21,North America,United States,6809,6809,6809,6809
King's College London,23,Europe,United Kingdom,3650,3650,3650,3650
The University of Edinburgh,23,Europe,United Kingdom,4075,4075,4075,4075
Tsinghua University,25,Asia,China,5506,5506,5506,5506
The University of Hong Kong,26,Asia,Hong Kong,3012,3012,3012,3012
"University of California, Berkeley (UCB)",27,North America,United States,3321,3321,3321,3321
Northwestern University,28,North America,United States,4231,4231,4231,4231
The University of Tokyo,28,Asia,Japan,4514,4514,4514,4514
The Hong Kong University of Science and Technology,30,Asia,Hong Kong,1150,1150,1150,1150
...,...,...,...,...,...,...,...
Politecnico di Milano,170,Europe,Italy,1500,1500,1500,1500
Albert-Ludwigs-Universitaet Freiburg,171,Europe,Germany,1966,1966,1966,1966
Indian Institute of Technology Delhi (IITD),172,Asia,India,466,466,466,466
King Fahd University of Petroleum & Minerals,173,Asia,Saudi Arabia,1062,1062,1062,1062
University of Liverpool,173,Europe,United Kingdom,2390,2390,2390,2390
University of Virginia,173,North America,United States,2509,2509,2509,2509
University of Technology Sydney,176,Oceania,Australia,1328,1328,1328,1328
CentraleSupélec,177,Europe,France,529,529,529,529
University of Florida,178,North America,United States,5419,5419,5419,5419
Indian Institute of Technology Bombay (IITB),179,Asia,India,876,876,876,876
University of Twente,179,Europe,Netherlands,910,910,910,910
University of Göttingen,181,Europe,Germany,3678,3678,3678,3678
Vienna University of Technology,182,Europe,Austria,706,706,706,706
Universidade Estadual de Campinas (Unicamp),182,Latin America,Brazil,1968,1968,1968,1968
University of Colorado Boulder,182,North America,United States,3685,3685,3685,3685
Vrije Universiteit Brussel (VUB),182,Europe,Belgium,1792,1792,1792,1792
University of Rochester,186,North America,United States,2569,2569,2569,2569
Universidad Autónoma de Madrid,187,Europe,Spain,2738,2738,2738,2738
Alma Mater Studiorum - University of Bologna,188,Europe,Italy,2990,2990,2990,2990
University of Reading,188,Europe,United Kingdom,1280,1280,1280,1280
Indian Institute of Science (IISc) Bangalore,190,Asia,India,423,423,423,423
University of Cape Town,191,Africa,South Africa,1733,1733,1733,1733
Keio University,192,Asia,Japan,3905,3905,3905,3905
Scuola Normale Superiore di Pisa,192,Europe,Italy,86,86,86,86
Scuola Superiore Sant'Anna Pisa di Studi Universitari e di Perfezionamento,192,Europe,Italy,119,119,119,119
Stockholm University,195,Europe,Sweden,2154,2154,2154,2154
Texas A&M University,195,North America,United States,3446,3446,3446,3446
Universitat Autònoma de Barcelona,195,Europe,Spain,2187,2187,2187,2187
Instituto Tecnológico y de Estudios Superiores de Monterrey,199,Latin America,Mexico,1822,1822,1822,1822
Maastricht University,200,Europe,Netherlands,1277,1277,1277,1277

In [94]:
test = json_data['data'][0]

link_test = 'https://www.topuniversities.com/universities/massachusetts-institute-technology-mit#wurs'

r = requests.get(link_test)
page_body = r.text

soup = BeautifulSoup(page_body, 'html.parser')

total_academic_fac_staff = int(soup.find('div', class_='total faculty').find('div', class_='number').text.replace(',',''))
inter_academic_fac_staff = int(soup.find('div', class_='inter faculty').find('div', class_='number').text.replace(',',''))
total_students = int(soup.find('div', class_='total student').find('div', class_='number').text.replace(',',''))
inter_students = int(soup.find('div', class_='total inter').find('div', class_='number').text.replace(',',''))

print(total_academic_fac_staff)
print(inter_academic_fac_staff)
print(total_students)
print(inter_students)




#true_link = '/universities/massachusetts-institute-technology-mit'

2982
1679
11067
3717