# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [152]:
DATA_FOLDER = './Data' # Use the data folder provided in Tutorial 02 - Intro to Pandas.

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average per month* of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

### Assumptions
- We only consider the totals/national fields, not the values per district/region. Sometimes, the sum of the values per region is a bit higher than the total. We assume that's because some regions are not shown in the data.
- The fields "National" in SL and Liberia mean the same as the "Totals" field in Guinea, i.e. the Total number of cases in the country.
- When there's a NaN (the value was not filled), we assume that the data was somehow lost
- We are only interested in the Totals/National columns. If a row contains a NaN in this column, we chose to discard the row. This should not be problematic, since we consider the daily **average** per month.
- Since we don't have additionnal information on the data, especially about the meanings of some fields, we decide to compute the new cases separaterly for the confirmed, probable and suspect cases. Same goes for the deaths.

### Process
- first, we import the data and store it separately for each country
- then we rename the fields that we will use (Totals, Description,...) so that they are the same for each country
- we also add two new fields "Country" and "Month" (derived from Date) in each of the 3 dataframes, to simplify the process for later
- We then concatenate the 3 dataframes into a single dataframe, called *full_data*
- Then, to facilitate readability we crop this dataframe (keep only the columns *month*, *Description*, *Totals*, *Country*) and store the result in *full_data_crop*

In [153]:
# imports
import pandas as pd
import os
import numpy as np

In [154]:
# import data
guinea = []
liberia = []
sl = []
dfs = [guinea, liberia, sl]
i = 0
folders = ["guinea_data", "liberia_data", "sl_data"]
for folder in folders:
    path = DATA_FOLDER + "/ebola/"
    for file in os.listdir(path + folder):
        dfs[i].append(pd.read_csv(path + folder + '/' + file))
    i += 1
pd.concat(sl)['National'].isnull().sum()

923

In [193]:
# clean Guinea data
guinea = pd.DataFrame()
i = 0
for df in dfs[0]:
    df['Country'] = 'Guinea' # set the new country column
    df['Month'] = pd.to_numeric(pd.to_datetime(df['Date']).dt.month) # set the new month column
    dfs[0][i] = df
    i += 1
guinea = pd.concat(dfs[0])
guinea.head(2)

,Beyla,Boffa,Conakry,Country,Coyah,Dabola,Dalaba,Date,Description,Dinguiraye,...,Lola,Macenta,Month,Mzerekore,Nzerekore,Pita,Siguiri,Telimele,Totals,Yomou
0,NaN,0,5,Guinea,NaN,0,NaN,2014-08-04,New cases of suspects,0,...,NaN,0,8,NaN,0,0,0,0,5,NaN
1,NaN,0,0,Guinea,NaN,0,NaN,2014-08-04,New cases of probables,0,...,NaN,0,8,NaN,0,0,0,0,0,NaN

In [194]:
# clean liberia data
liberia = pd.DataFrame()
i = 0
for df in dfs[1]:
    df['Country'] = 'Liberia'
    df = df.rename(columns = {'National':'Totals', 'Variable':'Description'})
    df['Month'] = pd.to_numeric(pd.to_datetime(df['Date']).dt.month)
    dfs[1][i] = df
    i += 1
liberia = pd.concat(dfs[1])
liberia.head(2)

,Bomi County,Bong County,Country,Date,Description,Gbarpolu County,Grand Bassa,Grand Cape Mount,Grand Gedeh,Grand Kru,...,Margibi County,Maryland County,Month,Montserrado County,Nimba County,River Gee County,RiverCess County,Sinoe County,Totals,Unnamed: 18
0,NaN,NaN,Liberia,6/16/2014,Specimens collected,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6,0.0,NaN,NaN,NaN,NaN,1.0,NaN
1,NaN,NaN,Liberia,6/16/2014,Specimens pending for testing,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6,0.0,NaN,NaN,NaN,NaN,0.0,NaN

In [195]:
# clean Sierra Leone data
sl = pd.DataFrame()
i = 0
for df in dfs[2]:
    df['Country'] = 'Sierra Leone'
    df = df.rename(columns = {'National':'Totals', 'date' : 'Date', 'variable':'Description'})
    df['Month'] = pd.to_numeric(pd.to_datetime(df['Date']).dt.month)
    dfs[2][i] = df
    i += 1
sl = pd.concat(dfs[2])
sl.head(2)

,34 Military Hospital,Bo,Bo EMC,Bombali,Bonthe,Country,Date,Description,Hastings-F/Town,Kailahun,...,Police traning School,Port Loko,Pujehun,Tonkolili,Totals,Unnamed: 18,Western area,Western area combined,Western area rural,Western area urban
0,NaN,654142,NaN,494139,168729,Sierra Leone,2014-08-12,population,NaN,465048,...,NaN,557978,335574,434937,6348350,NaN,NaN,NaN,263619,1040888
1,NaN,0,NaN,0,0,Sierra Leone,2014-08-12,new_noncase,NaN,0,...,NaN,1,0,0,4,NaN,NaN,NaN,0,0

In [196]:
# merge dataframes
full_data = pd.concat([guinea, liberia, sl])

# remove each row whose 'Totals' value is NaN
n_col_before = full_data.shape[0]
full_data = full_data[full_data.Totals.notnull()]
n_col_after = full_data.shape[0]
print("Removed " + str(n_col_before-n_col_after) + " rows out of " + str(n_col_before))

# To facilitate readability, we discard all the columns we don't need
full_data_crop = full_data[['Month', 'Country', 'Description', 'Totals']]

Removed 1685 rows out of 7128

In [197]:
full_data_crop.head(2)

   Month Country             Description Totals
0      8  Guinea   New cases of suspects      5
1      8  Guinea  New cases of probables      0

In [199]:
sl.Description.isnull().sum()

0

In [207]:
full_data_crop[full_data_crop.Description.str.match('(N|n)ew.*(s|S)uspect(ed|s)')].head(1)

   Month Country            Description Totals
0      8  Guinea  New cases of suspects      5

### remarks
The following works but not entirely, as we see that the regexps do not mat

In [212]:
# compute the desired values

interests = ['(new_suspected|New cases of suspects|New Case\/s \(Suspected\))',
             '(new_probable|New cases of probables|New Case\/s \(Probable\))',
             '(new_confirmed|New cases of confirmed|New case\/s \(confirmed\))',
             '(death_suspected|Total deaths of suspects|Total death\/s in confirmed cases)',
             '(death_probable|Total deaths of probables|Total death\/s in probable cases)',
             '(death_confirmed|Total deaths of confirmed|Total death\/s in confirmed cases)'
            ]
all_means = []
for interest in interests:
    rows = full_data_crop[full_data_crop.Description.str.match(interest)]
    print(rows.shape)
    rows.Totals = pd.to_numeric(rows.Totals)
    merge_index = [rows.Month, rows.Country]
    means = rows.groupby(merge_index).agg(np.mean)
    means = means[['Totals']]

    means.columns = [interest]
    all_means.append(means)

current = all_means[0]
for mean in all_means[1:]:
    current = pd.merge(current, mean,  left_index=True, right_index=True)
current

(207, 4)
(206, 4)

C:\Users\rbsteinm\Anaconda3\lib\site-packages\pandas\core\generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

(223, 4)
(175, 4)
(175, 4)
(176, 4)

                    (new_suspected|New cases of suspects|New Case\/s \(Suspected\))  \
Month Country
6     Liberia                                                2.428571
7     Liberia                                                3.000000
8     Guinea                                                11.800000
      Liberia                                               12.000000
      Sierra Leone                                           6.055556
9     Guinea                                                 5.437500
      Liberia                                               28.333333
      Sierra Leone                                           7.000000
10    Guinea                                                28.000000
      Liberia                                               26.440000
      Sierra Leone                                          13.851852
11    Liberia                                               19.461538
      Sierra Leone                                          23.000000
12    Sierra Leone                                          14.000000

                    (new_probable|New cases of probables|New Case\/s \(Probable\))  \
Month Country
6     Liberia                                                1.142857
7     Liberia                                                3.727273
8     Guinea                                                 2.000000
      Liberia                                               19.777778
      Sierra Leone                                           1.277778
9     Guinea                                                 1.187500
      Liberia                                               29.333333
      Sierra Leone                                           0.000000
10    Guinea                                                 0.000000
      Liberia                                               17.760000
      Sierra Leone                                           0.888889
11    Liberia                                                8.076923
      Sierra Leone                                           0.000000
12    Sierra Leone                                           0.000000

                    (new_confirmed|New cases of confirmed|New case\/s \(confirmed\))  \
Month Country
6     Liberia                                                2.142857
7     Liberia                                                1.818182
8     Guinea                                                 6.888889
      Liberia                                                5.444444
      Sierra Leone                                          20.611111
9     Guinea                                                 6.718750
      Liberia                                                6.166667
      Sierra Leone                                          36.962963
10    Guinea                                                 4.000000
      Liberia                                                1.619048
      Sierra Leone                                          56.714286
11    Liberia                                                7.800000
      Sierra Leone                                          66.210526
12    Sierra Leone                                          54.333333

                    (death_suspected|Total deaths of suspects|Total death\/s in confirmed cases)  \
Month Country
6     Liberia                                               17.428571
7     Liberia                                               43.272727
8     Guinea                                                 2.000000
      Liberia                                              195.777778
      Sierra Leone                                           7.166667
9     Guinea                                                15.266667
      Liberia                                              633.130435
      Sierra Leone                                          11.000000
10    Guinea                                                 0.000000
      Liberia                                             1029.428571
      Sierra Leone                                          97.392857
11    Liberia                                                0.000000
      Sierra Leone                                         157.368421
12    Sierra Leone                                         158.000000

                    (death_probable|Total deaths of probables|Total death\/s in probable cases)  \
Month Country
6     Liberia                                                8.000000
7     Liberia                                               33.545455
8     Guinea                                               141.600000
      Liberia                                              215.000000
      Sierra Leone                                          35.166667
9     Guinea                                               179.250000
      Liberia                                              515.913043
      Sierra Leone                                          37.000000
10    Guinea                                               177.000000
      Liberia                                              700.000000
      Sierra Leone                                         159.500000
11    Liberia                                                0.000000
      Sierra Leone                                         208.000000
12    Sierra Leone                                         208.000000

                    (death_confirmed|Total deaths of confirmed|Total death\/s in confirmed cases)
Month Country
6     Liberia                                               17.428571
7     Liberia                                               43.272727
8     Guinea                                               295.000000
      Liberia                                              195.777778
      Sierra Leone                                         326.500000
9     Guinea                                               451.062500
      Liberia                                              633.130435
      Sierra Leone                                         476.148148
10    Guinea                                               562.000000
      Liberia                                             1029.428571
      Sierra Leone                                         905.464286
11    Liberia                                                0.000000
      Sierra Leone                                        1241.105263
12    Sierra Leone                                        1643.500000

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [ ]:
# Write your answer here

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [ ]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

In [ ]:
# Write your answer here